.main-layout {
  display: grid;
  grid-template-rows: auto 1fr 2.4rem;
  grid-template-areas: 'header' 'main' 'footer';
  height: 100%;
  overflow-y: hidden;

  app-header {
    grid-area: header;
  }

  main {
    grid-area: main;
    overflow: auto;
  }

  app-footer {
    grid-area: footer;
  }
}
