$primary_palette: (
  Main: #fff,
  Light: #fff,
  Dark: #fff,
  contrast: (
    Main: #000,
    Light: #fff,
    Dark: #fff
  )
);

$accent_palette: (
  Main: #fff,
  Light: #fff,
  Dark: #fff,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff
  )
);

$warn: (
  Main: #fff,
  Light: #fff,
  Dark: #fff,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff
  )
);
