@use '~@angular/material' as mat;

@include mat.core();

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "color-theme";
@import "custom-theme";

$app-primary: mat.define-palette(mat.$grey-palette, A100, A200, A400);
$app-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$grey-palette);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

$app-custom-typography: mat.define-typography-config(
  $font-family: "Poppins, sans-serif",
);

@include custom-theme($app-custom-typography);
@include mat.all-component-themes($app-theme);
@include mat.core($app-custom-typography);
